body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form{
    padding: 10px;
    background-color: azure;
}

input, button{
    width: 100%;
    margin-bottom: 3px;
}

label{
    font-weight: bold;
}

button{
    background-color: rgb(71, 191, 212);
    color: white;
    border: none;
    padding: 3px;
}

#list > div{
    background-color: rgb(185, 255, 255);
    padding: 3px;
    margin-top: 10px;
}